@import "syntax-variables";

atom-text-editor,
:host {
    background-color:               @xs-background;
    color:                          @xs-text;
    
    .wrap-guide {
        background-color:           @xs-selection;
    }
    .indent-guide {
        color:                      @xs-invisible;
    }
    .invisible-character {
        color:                      @xs-invisible;
    }
    .gutter {
        background-color:           @xs-selection;
        color:                      @xs-comment;
        
        .line-number {
            &.cursor-line {
                background-color:   @xs-background;
                color:              @xs-text;
            }
            &.cursor-line-no-selection {
                color:              @xs-text;
            }
        }
    }
    .gutter .line-number.folded,
    .gutter .line-number:after,
    .fold-marker:after {
        background-color:           @xs-invisible;
        color:                      @xs-text;
    }
    .invisible {
        color:                      @xs-invisible;
    }
    .cursor {
        color:                      @xs-cursor;
    }
    .selection .region {
        background-color:           @xs-selection;
    }
}

atom-text-editor .search-results .marker .region,
:host .search-results .marker .region {
    background-color:               @xs-background;
    border:                         1px solid @xs-text;
}

atom-text-editor .search-results .marker.current-result .region,
:host .search-results .marker.current-result .region {
    border:                         1px solid @xs-text;
}

.comment {
    color:                          @xs-comment;
}

.entity {
    
    &.name.type {
        color:                      @xs-ctag;
    }
    &.other.inherited-class {
        color:                      @xs-ctag;
    }
}

.keyword {
    color:                          @xs-keyword;

    &.control {
        color:                      @xs-keyword;
    }
    &.operator {
        color:                      @xs-keyword;
    }
    &.other.special-method {
        color:                      @xs-keyword;
    }
    &.other.unit {
        color:                      @xs-keyword;
    }
}

.storage {
    color:                          @xs-keyword;
}

.constant {
    color:                          @xs-keyword;
    
    &.character.escape {
        color:                      @xs-string;
    }
    &.numeric {
        color:                      @xs-number;
    }
    &.other.color {
        color:                      @xs-preproc;
    }
    &.other.symbol {
        color:                      @xs-preproc;
    }
}

.variable {
    color:                          @xs-ctag;
    
    &.parameter.function {
        color:                      @xs-text;
    }
}

.invalid.illegal {
    color:                          @xs-text;
}

.string {
    color:                          @xs-string;
    
    &.regexp {
        color:                      @xs-string;
        
        .source.ruby.embedded {
            color:                  @xs-string;
        }
    }
    &.other.link {
      color:                        @xs-keyword;
    }
}

.punctuation {
    
    &.definition {
        
        &.comment {
            color:                  @xs-comment;
        }
        &.string {
            color:                  @xs-string;
        }
        &.variable,
        &.parameters,
        &.array {
            color:                  @xs-text;
        }
        &.heading,
        &.identity {
            color:                  @xs-text;
        }
        &.bold {
            font-weight:            bold;
        }
        &.italic {
            font-style:             italic;
        }
    }
    &.section.embedded {
        color:                      @xs-preproc;
    }
}

.support {
    
    &.class {
        color:                      @xs-predefined;
    }
    &.function  {
        color:                      @xs-predefined;
        
        &.any-method {
            color:                  @xs-predefined;
        }
    }
}

.entity {
    
    &.name.function {
        color:                      @xs-ctag;
    }
    &.name.class, &.name.type.class {
        color:                      @xs-ctag;
    }
    &.name.section {
        color:                      @xs-ctag;
    }
    &.name.tag {
        color:                      @xs-predefined;
    }
    &.other.attribute-name {
        color:                      @xs-ctag;
        
        &.id {
            color:                  @xs-ctag;
        }
    }
}

.meta {
    
    &.class {
        color:                      @xs-text;
    }
    &.link {
        color:                      @xs-text;
    }
    &.require {
        color:                      @xs-text;
    }
    &.selector {
        color:                      @xs-text;
    }
    &.separator {
        color:                      @xs-text;
    }
}

.none {
    color:                          @xs-text;
}

.markup {
    
    &.bold {
        color:                      @xs-text;
        font-weight:                bold;
    }
    &.italic {
        color:                      @xs-text;
        font-style:                 italic;
    }
    &.changed {
        color:                      @xs-text;
    }
    &.deleted {
        color:                      @xs-text;
    }
    &.heading .punctuation.definition.heading {
        color:                      @xs-text;
    }
    &.inserted {
        color:                      @xs-text;
    }
    &.list {
        color:                      @xs-text;
    }
    &.quote {
        color:                      @xs-text;
    }
    &.raw.inline {
        color:                      @xs-text;
    }
}

.source.gfm .markup {
    -webkit-font-smoothing:         auto;
    
    &.heading {
        color:                      @xs-text;
    }
}

atom-text-editor[mini] .scroll-view,
:host([mini]) .scroll-view {
    padding-left:                   1px;
}
