// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #bfbfbf;
@light-gray: #bfbfbf;
@gray: #7f7f7f;
@dark-gray: #272d31;
@very-dark-gray: #1d2327;

@cyan: #6fafaf;
@blue: #678cb1;
@purple: #a082Bd;
@green: #6c884d;
@red: #b37d49;
@orange: #a39c39;
@light-orange: #a39c39;
